lib/
bin/
share/
*.cfg
include/
etc/
.env
venv/
__pycache__/
*.parquet 
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.*
secrets.toml
.vscode/
.idea/
# Docker Compose generated volumes
whatprice-airflow/logs/
whatprice-airflow/plugins/
whatprice-airflow/tmp/

.DS_Store