lib/
bin/
share/
*.cfg
include/
etc/
.env
venv/
__pycache__/
*.parquet 
airflow/logs/
airflow/plugins/
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.*
secrets.toml
airflow_settings.yaml
.vscode/
.idea/
whatprice-airflow/logs/
whatprice-airflow/tmp/
whatprice-airflow/airflow.db
whatprice-airflow/airflow.cfg
whatprice-airflow/standalone_admin_password.txt
whatprice-airflow/webserver_config.py
whatprice-airflow/packages.txt
whatprice-airflow/.astro/

.DS_Store