lib/
bin/
share/
*.cfg
include/
etc/
.env
venv/
__pycache__/
*.parquet 
airflow/logs/
airflow/plugins/
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.*
secrets.toml
airflow_settings.yaml
.vscode/
.idea/
airflow/logs/
airflow/tmp/
airflow/airflow.db
airflow/airflow.cfg
airflow/standalone_admin_password.txt
airflow/webserver_config.py
.DS_Store